/* GLOBAL */

body {
  margin: 0;
}

.subheading {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 0;
}

.subheading:before,
.subheading:after {
  display: inline-block;
  content: "";
  border-top: 2px solid #fff;
  width: 4rem;
  margin: 0 1rem;
  transform: translateY(-6px);
}

.cube1 {
  position: relative;
  top: 17%;
  left: 6.5%;
  height: 40px;
  width: 40px;
  background-color: #50e3c2;
  transform: rotate(45deg);
  z-index: 1;
}

.cube2 {
  position: relative;
  top: 5%;
  left: 53%;
  height: 80px;
  width: 80px;
  background-color: #50e3c2;
  transform: rotate(45deg);
  z-index: 1;
}

.cube3 {
  position: relative;
  top: 53.5%;
  left: 80%;
  height: 120px;
  width: 120px;
  background-color: #50e3c2;
  transform: rotate(45deg);
  z-index: 1;
}

.cube4 {
  position: relative;
  top: 46.3%;
  left: 84.4%;
  height: 120px;
  width: 120px;
  background-color: #50e3c2;
  transform: rotate(45deg);
  z-index: 1;
}

/* TOP SECTION */

#top-section {
  background: url("./assets/photo-1515619363794-e826f7de3487.jpeg") no-repeat;
  background-position-y: 100%;
  background-size: cover;
  height: 120vh;
  width: 100%;
}

#blue-overlay {
  height: 120vh;
  width: 100%;
  background-color: rgba(35, 139, 170, 0.3);
  position: absolute;
  top: 0;
}

#top-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 41%;
}

.top-subheading {
  color: white;
}

#top-banner-text {
  font-family: "Staatliches", cursive;
  line-height: 1.5;
  font-size: 32px;
  font-weight: normal;
  color: white;
  text-align: center;
  width: 60%;
  margin-top: 0;
}

.mouse-scroll-off {
  width: 15px;
  position: relative;
  top: 92.6%;
  left: 48%;
}

/* MIDDLE SECTION */

#mid-section {
  height: 150vh;
  width: 100%;
  overflow: hidden;
}

#mid-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  position: relative;
  left: 12%;
  top: 50px;
}

.mid-subheading {
  color: #315a6b;
}

.mid-subheading:before,
.mid-subheading:after {
  display: inline-block;
  content: "";
  border-top: 2px solid #315a6b;
  width: 4rem;
  margin: 0 1rem;
  transform: translateY(-6px);
}

.mid-heading {
  font-family: "Staatliches", cursive;
  line-height: 1.5;
  font-size: 24px;
  font-weight: normal;
  color: #238baa;
  text-align: center;
}

.email-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.email-input {
  width: 90%;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #50e3c2;
}

.email-input::placeholder {
  color: #50e3c2;
  opacity: 1;
  text-align: center;
  font-family: "Rambla", sans-serif;
  font-size: 14px;
}

.email-input:focus {
  text-align: left;
  border-color: #ff0089;
  color: #ff0089;
  font-family: "Rambla", sans-serif;
  font-size: 14px;
  box-shadow: 0 0 3px 0.5px #a3a3a3;
}

.email-input:focus::placeholder {
  color: transparent;
}

.email-submit-btn {
  width: 50%;
  background: linear-gradient(
    to right,
    #238baa,
    #099cb5,
    #00adbd,
    #00bdc2,
    #23cec4,
    #2dd2c1,
    #38d6bd,
    #44dab8,
    #3ad3b0,
    #30cda8,
    #23c6a1,
    #13c099
  );

  margin-top: 30px;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #238baa;
  color: #fff;
  font-family: "Staatliches", cursive;
}

.vector-dec-shape {
  width: 140%;
  position: relative;
  bottom: 20px;
  right: 345px;
  z-index: -1;
  opacity: 0.1;
}

#mid-circle {
  height: 800px;
  width: 800px;
  background-color: #238baa;
  z-index: -1;
  position: relative;
  bottom: 730px;
  border-radius: 100%;
  left: 890px;
}

.flamingo-img-section {
  position: relative;
  bottom: 112.5%;
  left: 51.8%;
  width: 500px;
}

.flamingo-image {
  width: 100%;
}

.chevron-buttons-group {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 44.5%;
  display: flex;
  justify-content: space-between;
  justify-self: center;
}

.chavron-btn {
  color: white;
  font-size: 26px;
  background-color: #50e3c2;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.blue-line1 {
  height: 100%;
  width: 5px;
  background-color: #238baa;
  transform: translateX(16px);
}

.chavron-btn:hover > .blue-line1 {
  background-color: #ff0089;
}

.blue-line2 {
  height: 100%;
  width: 5px;
  background-color: #238baa;
  transform: translateX(-16px);
}

.chavron-btn:hover > .blue-line2 {
  background-color: #ff0089;
}

.white-box {
  height: 150px;
  width: 150px;
  background-color: #fff;
  z-index: 12;
  position: absolute;
  bottom: 0%;
}

.dotted-pattern {
  position: relative;
  bottom: 175%;
  width: 60;
  z-index: -1;
  left: 49%;
}

/* BOTTOM SECTION */

#bot-section {
  height: 120vh;
  width: 100%;
  background-color: blue;
}
