html {
  height: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
}

/* ANIMATIONS */

@keyframes cube1-slide-right {
  0% {
    margin-left: 0;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(225deg);
    margin-left: 32%;
  }
}

@keyframes cube2-slide-right {
  0% {
    margin-left: -20%;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(225deg);
    margin-left: 12%;
  }
}

@keyframes cube3-slide-right {
  0% {
    margin-left: -10%;
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(225deg);
    margin-left: 22%;
  }
}

@keyframes cube4-slide-right {
  0% {
    left: 0;
    transform: rotate(0deg);
  }
  100% {
    left: 15%;
    transform: rotate(225deg);
  }
}

@keyframes cube5-slide-right {
  0% {
    margin-left: -30%;
    transform: rotate(0deg);
  }
  100% {
    margin-left: 3.5%;
    transform: rotate(225deg);
  }
}

@keyframes cube6-slide-right {
  0% {
    left: -15%;
    transform: rotate(0deg);
  }
  100% {
    left: 14.2%;
    transform: rotate(225deg);
  }
}

@keyframes white-box-slide-up {
  0% {
    bottom: -20%;
  }
  100% {
    bottom: 0;
  }
}

@keyframes big-blue-circle {
  0% {
    top: 0;
    left: 0;
  }
  100% {
    top: 42%;
    left: 42%;
  }
}

@keyframes grey-vector {
  0% {
    right: 65%;
    transform: rotate(0deg);
  }
  100% {
    right: 32%;
    transform: rotate(120deg);
  }
}

@keyframes cube7-slide-right {
  0% {
    left: -15%;
    transform: rotate(0deg);
  }
  100% {
    left: 15%;
    transform: rotate(225deg);
  }
}

@keyframes cube8-slide-right {
  0% {
    margin-left: -20%;
    transform: rotate(0deg);
  }
  100% {
    margin-left: 10%;
    transform: rotate(225deg);
  }
}

@keyframes cube9-slide-right {
  0% {
    margin-right: 45%;
    transform: rotate(0deg);
  }
  100% {
    margin-right: 17%;
    transform: rotate(225deg);
  }
}

@keyframes dots {
  0% {
    width: 10%;
    height: 10%;
  }
  100% {
    width: 100%;
    height: 100%;
  }
}

/* TOP SECTION */

.top-container {
  height: 100%;
  width: 100vw;
  background: url("./assets/photo-1515619363794-e826f7de3487.jpeg");
  background-repeat: no-repeat;
  background-position-y: 110%;
  background-size: cover;
  display: grid;
  grid-template-rows: 33vh 40vh 50vh;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
}

.blue-overlay {
  position: absolute;
  top: 0;
  height: 98.7%;
  width: 100%;
  background-color: rgba(35, 139, 170, 0.3);
  z-index: 0;
}

.cube1 {
  height: 40px;
  width: 40px;
  background-color: #50e3c2;
  z-index: 1;
  align-self: center;
  margin-top: 30%;
  animation: cube1-slide-right 5s forwards;
}

.cube2 {
  height: 80px;
  width: 80px;
  background-color: #50e3c2;
  transform: rotate(45deg);
  z-index: 1;
  grid-column-start: 3;
  align-self: center;
  margin-top: 10%;
  animation: cube2-slide-right 5s forwards;
}

.headings-wrapper {
  width: 60vw;
  color: #fff;
  text-align: center;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  justify-self: center;
  align-self: end;
  z-index: 1;
  position: relative;
}

.subheading-container {
  height: 150px;
  display: flex;
  align-items: flex-end;
}

.subheading {
  text-align: center;
  font-family: "Pacifico", cursive;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
}

.top-subheading {
  width: 100%;
}

.subheading:before,
.subheading:after {
  display: inline-block;
  content: "";
  border-top: 2px solid #fff;
  width: 2.5rem;
  margin: 0 1rem;
  transform: translateY(-6px);
}

#top-banner-text {
  height: 100px;
  font-family: "Staatliches", cursive;
  line-height: 1.3;
  font-size: 32px;
  font-weight: normal;
  margin: 0;
}

.cube3 {
  height: 130px;
  width: 130px;
  background-color: #50e3c2;
  transform: rotate(45deg);
  z-index: 1;
  grid-row-start: 3;
  grid-column-start: 4;
  align-self: center;
  animation: cube3-slide-right 5s forwards;
  margin-top: -15%;
}

.mouse-scroll-off {
  width: 15px;
  grid-row-start: 3;
  grid-column-start: 3;
  align-self: end;
  margin-bottom: 16%;
  cursor: pointer;
  cursor: hand;
  z-index: 3;
}

.mouse-scroll-off img {
  width: 100%;
}

/* MIDDLE SECTION */

.mid-container {
  margin-top: 0;
  display: flex;
  height: 110vh;
}

.mid-left-side {
  width: 47.5vw;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.subhead-container {
  width: 30vw;
  align-self: flex-end;
  margin-top: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mid-subheading {
  color: #315a6b;
  font-size: 14px;
}

.mid-subheading:before,
.mid-subheading:after {
  display: inline-block;
  content: "";
  border-top: 2px solid #315a6b;
  width: 2.5rem;
  margin: 0 1rem;
  transform: translateY(-6px);
}

.mid-heading {
  font-family: "Staatliches", cursive;
  line-height: 1.5;
  font-size: 20px;
  font-weight: normal;
  color: #238baa;
  text-align: center;
}

.email-form {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70%;
}

.email-input {
  width: 90%;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #50e3c2;
}

.email-input::placeholder {
  color: #50e3c2;
  opacity: 1;
  text-align: center;
  font-family: "Rambla", sans-serif;
  font-size: 14px;
  transition: all 1s ease-in-out;
}

.email-input:focus {
  text-align: left;
  border-color: #ff0089;
  color: #ff0089;
  font-family: "Rambla", sans-serif;
  font-size: 14px;
  box-shadow: 0 0 3px 0.5px #a3a3a3;
}

.email-input:focus::placeholder {
  opacity: 0;
}

.email-submit-btn {
  width: 70%;
  cursor: pointer;
  z-index: 1;
  background: linear-gradient(
    90deg,
    rgba(35, 139, 170, 1) 0%,
    rgba(19, 192, 153, 1) 50%,
    rgba(80, 227, 194, 1) 100%
  );
  margin-top: 30px;
  border-radius: 20px;
  padding: 10px;
  border: 1px solid #238baa;
  color: #fff;
  font-family: "Staatliches", cursive;
}

.email-submit-btn:hover {
  border-color: #ff0089;
  box-shadow: 0 0 3px 0.5px #a3a3a3;
  background: linear-gradient(
    90deg,
    rgba(80, 227, 194, 1) 0%,
    rgba(19, 192, 153, 1) 50%,
    rgba(35, 139, 170, 1) 100%
  );
}

.btn-text {
  transition: all 1s ease-in-out;
}

.email-submit-btn:hover .btn-text {
  transition: all 1s ease-in-out;
  margin-right: 100px;
}

.email-submit-btn:hover .right-chevron {
  display: initial;
  margin-right: -10px;
}

.right-chevron {
  display: none;
}

.cube4 {
  height: 40px;
  width: 40px;
  background-color: #50e3c2;
  transform: rotate(45deg);
  z-index: 1;
  position: relative;
  top: 9%;
}

.cube4animation {
  animation: cube4-slide-right 5s forwards;
}

.grey-vector-container {
  width: 100%;
  height: 50%;
  margin: -8%;
}

.vector-dec-shape {
  width: 100%;
  position: relative;
  opacity: 0.1;
}

.vector-animation {
  animation: grey-vector 5s forwards;
}

.mid-right-side {
  width: 50vw;
  margin-left: 2vw;
  position: relative;
  overflow: hidden;
}

.dotted-pattern-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dotted-pattern {
  width: 10%;
  height: 10%;
}

.dots-animation {
  animation: dots 5s forwards;
}

.mixed-items-container {
  position: absolute;
  margin-left: 5%;
  margin-top: 10%;
  width: 33vw;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: url("./assets/flamingo-image.png");
  background-size: cover;
}

.cube5 {
  height: 80px;
  width: 80px;
  background-color: #50e3c2;
  transform: rotate(45deg);
  z-index: 1;
  margin-top: -8.9%;
}

.cube5-animation {
  animation: cube5-slide-right 5s forwards;
}

.cube6 {
  height: 130px;
  width: 130px;
  background-color: #50e3c2;
  transform: rotate(45deg);
  z-index: 1;
  align-self: flex-end;
  position: relative;
  top: 14.2%;
}

.cube6-animation {
  animation: cube6-slide-right 5s forwards;
}

.chevron-buttons-group {
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
}

.chavron-btn {
  color: white;
  font-size: 26px;
  background-color: #50e3c2;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}

.blue-line1 {
  height: 100%;
  width: 5px;
  background-color: #238baa;
  transform: translateX(16px);
}

.chavron-btn:hover > .blue-line1 {
  background-color: #ff0089;
}

.blue-line2 {
  height: 100%;
  width: 5px;
  background-color: #238baa;
  transform: translateX(-16px);
}

.chavron-btn:hover > .blue-line2 {
  background-color: #ff0089;
}

.white-box {
  height: 28%;
  width: 28%;
  background-color: #fff;
  z-index: 1;
  position: absolute;
}

.white-box-animation {
  animation: white-box-slide-up 5s forwards;
}

.mid-circle {
  width: 120%;
  height: 120%;
  background-color: #238baa;
  border-radius: 100%;
  right: -10%;
  z-index: -2;
  position: absolute;
}

.mid-circle-animation {
  animation: big-blue-circle 5s forwards;
}

/* BOTTOM SECTION */

.bot-section {
  height: 110vh;
  display: flex;
  background: url("./assets/photo-1546421568-2e7fbab04133.jpeg") bottom center;
  background-size: cover;
  position: relative;
}

.bot-left-side {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cube7 {
  height: 40px;
  width: 40px;
  background-color: #50e3c2;
  transform: rotate(45deg);
  z-index: 1;
  position: relative;
  top: 5%;
}

.cube7-animation {
  animation: cube7-slide-right 5s forwards;
}

.bot-text-container {
  align-self: center;
  align-self: flex-end;
  width: 80%;
  position: relative;
  bottom: 10%;
  left: 10%;
  color: #fff;
  font-weight: normal;
  z-index: 1;
}

.bot-header {
  font-family: "Staatliches", cursive;
  font-size: 4.5rem;
  margin-bottom: 5%;
}

.bot-paragraph {
  font-family: "Rambla", sans-serif;
  font-size: 0.8rem;
  width: 90%;
  line-height: 1.5;
}

.bot-right-side {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50vw;
}

.cube8 {
  height: 80px;
  width: 80px;
  background-color: #50e3c2;
  transform: rotate(45deg);
  z-index: 1;
  margin-top: 10%;
}

.cube8-animation {
  animation: cube8-slide-right 5s forwards;
}

.cube9 {
  height: 130px;
  width: 130px;
  background-color: #50e3c2;
  transform: rotate(45deg);
  z-index: 1;
  align-self: end;
  margin-bottom: 13%;
}

.cube9-animation {
  animation: cube9-slide-right 5s forwards;
}

.blue-overlay-2 {
  position: absolute;
  top: 0;
  height: 110vh;
  width: 100%;
  background-color: rgba(35, 139, 170, 0.3);
  z-index: 0;
}
